.cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(138, 121, 121);
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
  }
  